<form action="{{ url('resident_delete', {id: resident.id}) }}" method="post" data-confirmation="true" id="delete-form">
    <button type="submit" class="btn btn-block btn-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Delete
    </button>
</form>
